body {
        font-family: "Comic Sans MS", "Comic Sans", cursive;
        margin: 20px;
        background-color: #ff0090;
        color: #582626;
    }
    h1 {
        color: #2c3e50;
    }
    p {
        line-height: 1.6;
    }
    hr {
        border: none;
        height: 2px;
        background-color: #2c3e50;
        margin: 20px 0;
    }